# Token with channels:read and chat:write permissions
SLACK_TOKEN=

# Slack Channel to send a message
SLACK_CHANNEL=

# self-contained slack webhook, doesn't required SLACK_TOKEN & SLACK_CHANNEL if SLACK_WEBHOOK_URL is created
SLACK_WEBHOOK_URL=

# Providers URLs
MAINNET_RPC_URL=https://rpc.ankr.com/eth
GNOSIS_RPC_URL=https://rpc.ankr.com/gnosis

# Subgraph URLs
SUBGRAPH_API_NATIVE=https://gateway.thegraph.com/api/subgraphs/id/2ths6FTZhCBggnyakh7PL5KH91zjRv8xPNfzaCRKogJ
SUBGRAPH_API_FOREIGN=https://gateway.thegraph.com/api/subgraphs/id/9W7Ye5xFfefNYDxXD4StqAuj7TU8eLq5PLmuPUnhFbeQ
SUBGRAPH_API_KEY=

## Validator balance
# true= only track validator balance on Gnosis Chain
IS_VALIDATOR_BALANCE_ON_GC=true
MIN_XDAI_BALANCE_THRESHOLD=1 # 1xdai
MIN_ETH_BALANCE_THRESHOLD=0 # set to 0 because the validator doesn't require balance to claim on Ethereum

## Inactive validator 
# max hrs to consider a validator inactive (not calling on chain function)
INACTIVITY_THRESHOLD_HOURS=12

## Stucked tx
# max hrs after first initiated a tx but still at 'COLLECTING' status
TRANSACTION_TIMEOUT_HOURS=1

# Scheduler Configuration
SCHEDULE_ENABLED=true
SCHEDULE_CRON=*/15 * * * *
RUN_ONCE_ON_START=true

# Alert State Management
ALERT_STATE_FILE=./data/stuck-tx-alerts.json
ALERT_CLEANUP_HOURS=48
NODE_ENV=PROD # or DEV