# Application Name
NEXT_PUBLIC_APP_NAME=GnosisBridgeMonitor
# Default theme: dark | light
NEXT_PUBLIC_DEFAULT_THEME=dark
# Default chain
NEXT_PUBLIC_DEFAULT_CHAIN_ID=1

# Show cookies warning
NEXT_PUBLIC_COOKIES_WARNING_ENABLED=true
# Google Analytics Id
NEXT_PUBLIC_GA_MEASUREMENT_ID=
# Transaction Polling (10 sec)
NEXT_PUBLIC_POLLING_INTERVAL=10000

# RPCs
NEXT_PUBLIC_RPC_MAINNET=
NEXT_PUBLIC_RPC_GNOSIS=https://rpc.gnosischain.com

# WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_DAPP_URL="https://bridge.gnosischain.com/"
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# The Graph
NEXT_PUBLIC_SUBGRAPH_ENVIRONMENT=
# development | production
NEXT_PUBLIC_SUBGRAPH_ACCESS_ID=
# dev: <subgraph_orgnization_id> | prod: <apiKey>
NEXT_PUBLIC_SUBGRAPH_CHAINS_RESOURCE_IDS=
# dev: chainId:Tag | prod: chainId:subgraphId

NEXT_PUBLIC_ALCHEMY_API_KEY=

NEXT_PUBLIC_ENVIO_INDEXER_URL=
