# Application Name
NEXT_PUBLIC_APP_NAME=GnosisBridgeMonitor
# Default theme: dark | light
NEXT_PUBLIC_DEFAULT_THEME=dark
# Default chain
NEXT_PUBLIC_DEFAULT_CHAIN_ID=1

# Providers at least one of them
# https://infura.io/
NEXT_PUBLIC_INFURA_TOKEN=
# https://www.alchemy.com
NEXT_PUBLIC_ALCHEMY_TOKEN=

# Show cookies warning
NEXT_PUBLIC_COOKIES_WARNING_ENABLED=true
# Google Analytics Id
NEXT_PUBLIC_GA_MEASUREMENT_ID=
# Transaction Polling (10 sec)
NEXT_PUBLIC_POLLING_INTERVAL=10000

# RPCs
NEXT_PUBLIC_RPC_MAINNET=https://rpc.ankr.com/eth
NEXT_PUBLIC_RPC_GNOSIS=https://rpc.ankr.com/gnosis
NEXT_PUBLIC_RPC_GOERLI=https://rpc.ankr.com/eth_goerli

# The Graph
NEXT_PUBLIC_SUBGRAPH_ORGANIZATION=
NEXT_PUBLIC_SUBGRAPH_SUFFIX=