
import { TypedMap } from "@graphprotocol/graph-ts";
let VALIDATORS_CONFIG = new TypedMap<string, TypedMap<string, string>>();
{{#validators}}
const val_{{id}} = new TypedMap<string, string>();

val_{{id}}.set("id", "{{id}}");
val_{{id}}.set("address", "{{address}}");
val_{{id}}.set("name", "{{name}}");
val_{{id}}.set("bridgeType", "{{bridgeType}}");

VALIDATORS_CONFIG.set("{{address}}".toLowerCase(), val_{{id}});

{{/validators}}
export { VALIDATORS_CONFIG };
