
import { TypedMap } from "@graphprotocol/graph-ts";
let VALIDATORS_CONFIG = new TypedMap<string, TypedMap<string, string>>();
{{#validators}}
const val_{{bridgeType}}_{{address}} = new TypedMap<string, string>();

val_{{bridgeType}}_{{address}}.set("address", "{{address}}".toLowerCase());
val_{{bridgeType}}_{{address}}.set("name", "{{name}}");
val_{{bridgeType}}_{{address}}.set("bridgeType", "{{bridgeType}}");

VALIDATORS_CONFIG.set("{{address}}".toLowerCase(), val_{{bridgeType}}_{{address}});

{{/validators}}
export { VALIDATORS_CONFIG };
