ACCESS_TOKEN=...
SUBGRAPH_NAME=...
# foreign | home
TYPE=home
# mainnet | gnosis (now supported) | goerli | chiado (not supported by hosted service)
NETWORK=gnosis
DEBUG=true

# @TODO: Required if we build local node
GRAPH_ADMIN_NODE_ENDPOINT=https://api.thegraph.com/deploy/
