GRAPH_ADMIN_NODE_ENDPOINT=https://api.thegraph.com/deploy/
ACCESS_TOKEN=
DEBUG=true

# ---------
# Do not merge home with mainnet or foreign with gnosis.!!!!!!
# ---------

# SUBGRAPH_NAME=account/gnosis-home-bridge
# TYPE=home
# NETWORK=gnosis

SUBGRAPH_NAME=account/gnosis-foreign-bridge
TYPE=foreign
NETWORK=mainnet


